
.logo{
    font-weight: bold;
}

.title {
    text-align: center;
}
.center{
    margin: auto;
}
.list-manga{
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}
/* home */
/* home-card */
.card-home {
    width: 30rem;
    float: left;
    margin-left: 20px;
    margin: 20px;
}
.card .card-body .update{
    font-style: italic;
}


/* about */

.card-about {
    width: 40rem;
    margin: auto;
    
}
.icon{
    margin-right: 10px;
}
/* contact */
.form-contact{
    margin: auto;
    
}
.title-contact{
    color: white;
    text-align: center;
}
.form-contact label {
 color: white ;
}

.bg-contact{
    /* The image used */
    background-image: url("/assets/img/contact-bg.jpg");

    /* Full height */
    height: 800px;
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-success{
    float: right;
}
/* footer */

footer {
    background-color: #131518;  
}


/* Detail Manga */
.manga-sinopsis{
    text-align: justify;
}

.chapter-list {
 float: right;
}
/* end detail manga */
/* loader */
.loader{
    margin: auto;
    display: block;
    text-align: center;
}














/* responsive */

/* mobile */
@media only screen and (max-width: 600px) {
    body{
        min-height: 500px;
    }
    .card-about {
        width: 300px;
        

    }
    .card-home {
        width: 300px;
        margin-right: 20px;
    }
    .loader {
        width: 300px;
        display: block;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    /* chapter list link */
    .chapter-list{
        margin-top: 8px;
        margin-bottom: 5px;
        display: block;
        text-align: center;
    }
}